
@font-face {
	font-family: 'AbrilFatface-Regular';
    src: url('../fonts/original_AbrilFatface-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/original_AbrilFatface-Regular.woff') format('woff'),
         url('../fonts/original_AbrilFatface-Regular.ttf') format('truetype'),
         url('../fonts/original_AbrilFatface-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}
body {
  margin: 0;
  padding: 0;
}
section{
  clear: both;
}
.fondo-bg{
  width: 100%;
  background: url(../img/benetton-rancho.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.wrapper{
  margin:0 auto;
  background-color: transparent;
  width: auto;
  float: none;
  max-width: 1200px;
  min-height: 1px;
}
.wrapper-txt{
  margin:0 auto;
  position: relative;
  background-color: transparent;
  width: auto;
  float: none;
  max-width: 800px;
  min-height: 1px;
}
.wrapper:after {
    content: '';
    display: block;
    clear: both;
}
.row{
  position: relative;
  float: left;
  width: 100%;
}
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}
a:active,
a:hover {
  outline: 0;
}
strong {
  font-weight: bold;
}
h1, h2, h3 {
  margin: 5% auto;
}
h4, h5, h6{
  margin: 2% auto;
}
table {
  border-spacing: 0;
  border-collapse: collapse;
}
td,
th {
  padding: 0;
}
.bg-1 {
  color: #fff;
  background-color: #337ab7;
}
.bg-2 {
  color: #fff;
  background-color: #337ab7;
}
.bg-3 {
  color: #fff;
  background-color: #337ab7;
}
.page-header {
  position: absolute;
  width: 100%;
  min-height: 1px;
  height: 50px;
  z-index: 999;
  top: 0px;
}
.sticky-header {
  position: fixed;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  min-height: 1px;
  height: 50px;
  z-index: 999;
  top: 0px;
}
.logo{
  margin:10px 15px;
  width: 120px;
  position: relative;
  float: left;
}
.logo img{
  width: 95%;
  height: auto;
}
.redes{

  width: 120px;
  float: right;
  text-align: right;
  margin-top: 2px;
}
.redes img{
  height: auto;
}
.redes ul{
  display:inline-block;
  list-style: none;
  width: 100%;
  float: right;
  margin:5% 10%;
  padding:0;
}
.redes ul li{
  display: inline;
  list-style: none;
  width: 30px;
}
.redes ul li img{

  width: 2em;
}
.img-centrada{
  vertical-align: middle;
  width: 100%;
}
.img-responsive
 {
  display: block;
  position: relative;
  float: left;
  max-width: 100%;
  height: auto;
}
.img-circle {
  border-radius: 50%;
}
.img-sec{
  float: left;
  position: relative;
  margin: 40px 0;
}
.video-sec{
  float: left;
  position: relative;
  margin: 40px 0;
}
.hr {
  margin-top: 30px;
  margin-bottom: 30px;
  background: #A1A1A1;
  height: 1px;
  width: auto;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: inherit;
  line-height: 1.1;
  color: inherit;
}
/*========= Textos Tamaños y Colores =================*/
.tittle{
  color: #FFF;
  text-align: center;
  line-height: 1.1em;
  margin:13% auto 0;
  padding: 2% 0%;
  width: 60%;

}
.tittle h1 {
    font-size: 52px;
    color: #FFF;
    font-family: 'AbrilFatface-Regular';
    line-height: 1.1em;
    margin: 2% 0;
    text-align: center;
    font-weight: 100;
    letter-spacing: .1rem;
}
.tittle p {
    font-size: 21px;
    color: #FFF;
    font-weight: lighter;
    line-height: 1.3em;
    text-align: center;
    padding: 0 5%;
}
.tittle #textos{
  font-size: 16px;
  color: #FFF;
  text-transform: uppercase;
  font-weight: lighter;
  line-height: 1.1em;
  margin: 3% auto;
  text-align: center;

}
.tittle a.fa {

  text-align: center;
  margin-top:8%;

}
.quote{
  font-family: 'AbrilFatface-Regular';
  font-size: 2em;
  color: #000;
  font-family: 'AbrilFatface-Regular';
  line-height: 1.2em;
  margin: 2% 1%;
  text-align: center;
  font-weight: 100;
}

.headlines-01{
  font-size: 2.8em;
  color: #212121;
  font-family: 'AbrilFatface-Regular';
  line-height: 1.2em;
  margin: 2% 1%;
  text-align: right;
  font-weight: 100;
  /*letter-spacing: .1rem;*/
}
.headlines-02{
  font-size: 2.8em;
  color: #212121;
  font-family: 'AbrilFatface-Regular';
  line-height: 1.2em;
  margin: 2% 1%;
  text-align: center;
  font-weight: 100;
  /*letter-spacing: .1rem;*/
}
p {
  margin: 10px  0px;
}
p.txt {
    font-family: inherit;
    font-size: 17px;
    line-height: 1.2em;
    font-weight: 100;
}
.footer{
  padding: 10% 0;
  text-align: center !important;
}
.txt-footer {
    color: #484848;
    font-size: .8em;
    font-weight: 100;
    text-align: center;
}
.txt-left {
  text-align: left;
}
.txt-right {
  text-align: right;
}
.txt-center {
  text-align: center;
}
.txt-justify {
  text-align: justify;
}
.txt-nowrap {
  white-space: nowrap;
}
.txt-lowercase {
  text-transform: lowercase;
}
.txt-uppercase {
  text-transform: uppercase;
}
.txt-capitalize {
  text-transform: capitalize;
}
/*========= Textos  Colores =================*/
.txt-w{
  color: #FFF;
}
.txt-muted {
  color: #777;
}
.txt-primary {
  color: /*#337ab7*/;
}
.txt-secondary {
  color: /*#337ab7*/;
}
.txt-third {
  color: /*#337ab7*/;
}


/*Listas ordenadas y desordenadas*/
ul,
ol {
  margin-top: 0;
  margin-bottom: 10px;
}
ul ul,
ol ul,
ul ol,
ol ol {
  margin-bottom: 0;
}
.list-unstyled {
  padding-left: 0;
  list-style: none;
}
.list-inline {
  padding-left: 0;
  margin-left: -5px;
  list-style: none;
}
.list-inline > li {
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
}

.s-1, .m-1,  .l-1, .s-2, .m-2,  .l-2, .s-3, .m-3, .l-3, .s-4, .m-4,  .l-4, .s-5, .m-5,  .l-5, .s-6, .m-6,  .l-6, .s-7, .m-7,  .l-7, .s-8, .m-8,  .l-8, .s-9, .m-9,  .l-9, .s-10, .m-10,  .l-10, .s-11, .m-11, .l-11, .s-12, .m-12,  .l-12 {
  position: relative;
  min-height: 1px;
}

/*======Media query Small identado para trabajo como s-'n' el No de columna en el grid========= */
@media (min-width: 0px) and (max-width: 670px){
    .tittle {
      color: #FFF;
      text-align: center;
      line-height: 1.1em;
      margin: 40% auto 0;
      width: 80%;
    }
    .tittle h1 {
      font-size: 30px;
      color: #FFF;
      font-family: 'AbrilFatface-Regular';
      line-height: 1em;
      margin: 2% 0;
      text-align: center;
      font-weight: 100;
      letter-spacing: .1rem;
    }
    .tittle p {
      font-size: 16px;
      color: #FFF;
      font-weight: lighter;
      line-height: 1.3em;
      text-align: center;
      padding: 0 5%;
    }
    .headlines-01 {
      font-size: 2.1em;
      color: #212121;
      font-family: 'AbrilFatface-Regular';
      line-height: 1.2em;
      margin: 2% 1%;
      text-align: center;
      font-weight: 100;
    }
    .headlines-02 {
      font-size: 2.1em;
      color: #212121;
      font-family: 'AbrilFatface-Regular';
      line-height: 1.2em;
      margin: 2% 1%;
      text-align: center;
      font-weight: 100;

    }
    .img-side{
      margin: 5% 0%;
      padding: 0;
    }
    .s-1, .s-2, .s-3, .s-4, .s-5, .s-6, .s-7, .s-8, .s-9, .s-10, .s-11, .s-12 {
      float: left;
    }
    .s-12 {
      width: 100%;
    }
    .s-11 {
      width: 91.66666667%;
    }
    .s-10 {
      width: 83.33333333%;
    }
    .s-9 {
      width: 75%;
    }
    .s-8 {
      width: 66.66666667%;
    }
    .s-7 {
      width: 58.33333333%;
    }
    .s-6 {
      width: 50%;
    }
    .s-5 {
      width: 41.66666667%;
    }
    .s-4 {
      width: 33.33333333%;
    }
    .s-3 {
      width: 25%;
    }
    .s-2 {
      width: 16.66666667%;
    }
    .s-1 {
      width: 8.33333333%;
    }
    .s-pull-12 {
      right: 100%;
    }
    .s-pull-11 {
      right: 91.66666667%;
    }
    .s-pull-10 {
      right: 83.33333333%;
    }
    .s-pull-9 {
      right: 75%;
    }
    .s-pull-8 {
      right: 66.66666667%;
    }
    .s-pull-7 {
      right: 58.33333333%;
    }
    .s-pull-6 {
      right: 50%;
    }
    .s-pull-5 {
      right: 41.66666667%;
    }
    .s-pull-4 {
      right: 33.33333333%;
    }
    .s-pull-3 {
      right: 25%;
    }
    .s-pull-2 {
      right: 16.66666667%;
    }
    .s-pull-1 {
      right: 8.33333333%;
    }
    .s-pull-0 {
      right: auto;
    }
    .s-push-12 {
      left: 100%;
    }
    .s-push-11 {
      left: 91.66666667%;
    }
    .s-push-10 {
      left: 83.33333333%;
    }
    .s-push-9 {
      left: 75%;
    }
    .s-push-8 {
      left: 66.66666667%;
    }
    .s-push-7 {
      left: 58.33333333%;
    }
    .s-push-6 {
      left: 50%;
    }
    .s-push-5 {
      left: 41.66666667%;
    }
    .s-push-4 {
      left: 33.33333333%;
    }
    .s-push-3 {
      left: 25%;
    }
    .s-push-2 {
      left: 16.66666667%;
    }
    .s-push-1 {
      left: 8.33333333%;
    }
    .s-push-0 {
      left: auto;
    }
    .s-offset-12 {
      margin-left: 100%;
    }
    .s-offset-11 {
      margin-left: 91.66666667%;
    }
    .s-offset-10 {
      margin-left: 83.33333333%;
    }
    .s-offset-9 {
      margin-left: 75%;
    }
    .s-offset-8 {
      margin-left: 66.66666667%;
    }
    .s-offset-7 {
      margin-left: 58.33333333%;
    }
    .s-offset-6 {
      margin-left: 50%;
    }
    .s-offset-5 {
      margin-left: 41.66666667%;
    }
    .s-offset-4 {
      margin-left: 33.33333333%;
    }
    .s-offset-3 {
      margin-left: 25%;
    }
    .s-offset-2 {
      margin-left: 16.66666667%;
    }
    .s-offset-1 {
      margin-left: 8.33333333%;
    }
    .s-offset-0 {
      margin-left: 0;
    }

}
/*======Media query medium identado para trabajo como m-'n' el No de columna en el grid========= */
@media (min-width: 671px) and (max-width: 1140px){

    .m-1, .m-2, .m-3, .m-4, .m-5, .m-6, .m-7, .m-8, .m-9, .m-10, .m-11, .m-12 {
      float: left;
    }
    .m-12 {
      width: 100%;
    }
    .m-11 {
      width: 91.66666667%;
    }
    .m-10 {
      width: 83.33333333%;
    }
    .m-9 {
      width: 75%;
    }
    .m-8 {
      width: 66.66666667%;
    }
    .m-7 {
      width: 58.33333333%;
    }
    .m-6 {
      width: 50%;
    }
    .m-5 {
      width: 41.66666667%;
    }
    .m-4 {
      width: 33.33333333%;
    }
    .m-3 {
      width: 25%;
    }
    .m-2 {
      width: 16.66666667%;
    }
    .m-1 {
      width: 8.33333333%;
    }
    .m-pull-12 {
      right: 100%;
    }
    .m-pull-11 {
      right: 91.66666667%;
    }
    .m-pull-10 {
      right: 83.33333333%;
    }
    .m-pull-9 {
      right: 75%;
    }
    .m-pull-8 {
      right: 66.66666667%;
    }
    .m-pull-7 {
      right: 58.33333333%;
    }
    .m-pull-6 {
      right: 50%;
    }
    .m-pull-5 {
      right: 41.66666667%;
    }
    .m-pull-4 {
      right: 33.33333333%;
    }
    .m-pull-3 {
      right: 25%;
    }
    .m-pull-2 {
      right: 16.66666667%;
    }
    .m-pull-1 {
      right: 8.33333333%;
    }
    .m-pull-0 {
      right: auto;
    }
    .m-push-12 {
      left: 100%;
    }
    .m-push-11 {
      left: 91.66666667%;
    }
    .m-push-10 {
      left: 83.33333333%;
    }
    .m-push-9 {
      left: 75%;
    }
    .m-push-8 {
      left: 66.66666667%;
    }
    .m-push-7 {
      left: 58.33333333%;
    }
    .m-push-6 {
      left: 50%;
    }
    .m-push-5 {
      left: 41.66666667%;
    }
    .m-push-4 {
      left: 33.33333333%;
    }
    .m-push-3 {
      left: 25%;
    }
    .m-push-2 {
      left: 16.66666667%;
    }
    .m-push-1 {
      left: 8.33333333%;
    }
    .m-push-0 {
      left: auto;
    }
    .m-offset-12 {
      margin-left: 100%;
    }
    .m-offset-11 {
      margin-left: 91.66666667%;
    }
    .m-offset-10 {
      margin-left: 83.33333333%;
    }
    .m-offset-9 {
      margin-left: 75%;
    }
    .m-offset-8 {
      margin-left: 66.66666667%;
    }
    .m-offset-7 {
      margin-left: 58.33333333%;
    }
    .m-offset-6 {
      margin-left: 50%;
    }
    .m-offset-5 {
      margin-left: 41.66666667%;
    }
    .m-offset-4 {
      margin-left: 33.33333333%;
    }
    .m-offset-3 {
      margin-left: 25%;
    }
    .m-offset-2 {
      margin-left: 16.66666667%;
    }
    .m-offset-1 {
      margin-left: 8.33333333%;
    }
    .m-offset-0 {
      margin-left: 0;
    }
}
/*======Media query large identado para trabajo como s-'n' el No de columna en el grid========= */
@media (min-width: 1141px) {

    .l-1, .l-2, .l-3, .l-4, .l-5, .l-6, .l-7, .l-8, .l-9, .l-10, .l-11, .l-12 {
      float: left;
    }
    .l-12 {
      width: 100%;
    }
    .l-11 {
      width: 91.66666667%;
    }
    .l-10 {
      width: 83.33333333%;
    }
    .l-9 {
      width: 75%;
    }
    .l-8 {
      width: 66.66666667%;
    }
    .l-7 {
      width: 58.33333333%;
    }
    .l-6 {
      width: 50%;
    }
    .l-5 {
      width: 41.66666667%;
    }
    .l-4 {
      width: 33.33333333%;
    }
    .l-3 {
      width: 25%;
    }
    .l-2 {
      width: 16.66666667%;
    }
    .l-1 {
      width: 8.33333333%;
    }
    .l-pull-12 {
      right: 100%;
    }
    .l-pull-11 {
      right: 91.66666667%;
    }
    .l-pull-10 {
      right: 83.33333333%;
    }
    .l-pull-9 {
      right: 75%;
    }
    .l-pull-8 {
      right: 66.66666667%;
    }
    .l-pull-7 {
      right: 58.33333333%;
    }
    .l-pull-6 {
      right: 50%;
    }
    .l-pull-5 {
      right: 41.66666667%;
    }
    .l-pull-4 {
      right: 33.33333333%;
    }
    .l-pull-3 {
      right: 25%;
    }
    .l-pull-2 {
      right: 16.66666667%;
    }
    .l-pull-1 {
      right: 8.33333333%;
    }
    .l-pull-0 {
      right: auto;
    }
    .l-push-12 {
      left: 100%;
    }
    .l-push-11 {
      left: 91.66666667%;
    }
    .l-push-10 {
      left: 83.33333333%;
    }
    .l-push-9 {
      left: 75%;
    }
    .l-push-8 {
      left: 66.66666667%;
    }
    .l-push-7 {
      left: 58.33333333%;
    }
    .l-push-6 {
      left: 50%;
    }
    .l-push-5 {
      left: 41.66666667%;
    }
    .l-push-4 {
      left: 33.33333333%;
    }
    .l-push-3 {
      left: 25%;
    }
    .l-push-2 {
      left: 16.66666667%;
    }
    .l-push-1 {
      left: 8.33333333%;
    }
    .l-push-0 {
      left: auto;
    }
    .l-offset-12 {
      margin-left: 100%;
    }
    .l-offset-11 {
      margin-left: 91.66666667%;
    }
    .l-offset-10 {
      margin-left: 83.33333333%;
    }
    .l-offset-9 {
      margin-left: 75%;
    }
    .l-offset-8 {
      margin-left: 66.66666667%;
    }
    .l-offset-7 {
      margin-left: 58.33333333%;
    }
    .l-offset-6 {
      margin-left: 50%;
    }
    .l-offset-5 {
      margin-left: 41.66666667%;
    }
    .l-offset-4 {
      margin-left: 33.33333333%;
    }
    .l-offset-3 {
      margin-left: 25%;
    }
    .l-offset-2 {
      margin-left: 16.66666667%;
    }
    .l-offset-1 {
      margin-left: 8.33333333%;
    }
    .l-offset-0 {
      margin-left: 0;
    }
}
/*=========cycle2 slider estilos====================*/
#outside{
  position: relative;
  color:#212121;
  font-family: inherit;
}
#outside .cycle-slideshow img{
  width: 100%;
  height: auto;
}
#outside>.nav{
  position: absolute;
  top:50%;
  z-index: 999;
  width: 100%;
}
.nav>.next{
  float: right;
  padding: 1%;
  cursor: pointer;
  height: 100%;
  opacity: .4;
  text-align: right;

}
.nav>.next:hover{
  float: right;
  padding: 1%;
  cursor: pointer;
  height: 100%;
  background-color: #FFF;
  opacity: .6;
  transition: .2s;
}
.nav>.next img{
  width: 80%;
  height: auto;
 }
.nav>.prev{
  float: left;
  padding: 1%;
  cursor: pointer;
  height: 100%;
  opacity: .4;
  transition: .2s;
}
.nav>.prev:hover{
  float: left;
  padding: 1%;
  cursor: pointer;
  height: 100%;
  background-color: #FFF;
  opacity: .6;
}
.nav>.prev img{
  width: 80%;
  height: auto;
 }
 #progress{
  position: absolute;
  bottom: 0;
  height: 3px;
  width: 0px;
  background-color: #c00;
  z-index: 500;
 }
